@tailwind base;
@tailwind components;
@tailwind utilities;


.reactflow-wrapper {
  flex-grow: 1;
  height: 80%;
}

aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

